# Entornos virtuales de Python
.venv/
venv/
env/
ENV/

# Dependencias de Node
node_modules/

backendRepfora/public/assets/
# Variables de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Credenciales de Google Drive
google-credentials.json

#credenciales token
get-refresh-token.js

#google credentciales

google-credentials.json
generate_oauth2_url.js
generate_oauth2_token.js